<header id="fh5co-header-section" style="background-image: url(images/contract.jpg)">
    <div class="container">
      <div class="nav-header">
        <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"
          ><i></i
        ></a>
        <!--로그인 값에 따라 회사 로고 이름 들어가게!-->
        <h1 id="fh5co-logo"><a href="home.html">D&D Project</a></h1>
        <!-- START #fh5co-menu-wrap -->
        <nav id="fh5co-menu-wrap" role="navigation">
          <ul class="sf-menu" id="fh5co-primary-menu">
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <a href="" class="fh5co-sub-ddown">Within company</a>
              <ul class="fh5co-sub-menu">
                <li>
                  <a href="">View contract</a>
                </li>
                <li>
                  <a href="">Write contract</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="" class="fh5co-sub-ddown">B2B contract</a>
              <ul class="fh5co-sub-menu">
                <li><a href="">View contract</a></li>
                <li>
                  <a href="">Write contract</a>
                </li>
              </ul>
            </li>
            <li class="active"><a href="contact.html">Sign up</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>