<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <head>
  <title>D&D Project Log in</title>
  <%- include ("./head.ejs") %>
  </head>
  <body>
    <div id="fh5co-wrapper">
        <div class="fh5co-section">
          <div class="container">
            <div class="row">
              <div class="col-md-6 fh5co-news">
				<div class="limiter">
					<div
            class="container-login100" >
            <span class="login_font">D&D PROJECT</span>
					  <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
						<form class="login100-form validate-form" method="POST" action="/signin">
						  <div
							class="wrap-input100 validate-input m-b-23"
							data-validate="ID is reauired">
							<span class="label-input100">ID</span>
							<input
							  class="input100"
							  type="text"
							  name="id"
							  placeholder="Type your ID"
							/>
							<span class="focus-input100" data-symbol="&#xf206;"></span>
						  </div>
			  
						  <div
							class="wrap-input100 validate-input"
							data-validate="Password is required"
						  >
							<span class="label-input100">Password</span>
							<input
							  class="input100"
							  type="password"
							  name="pass"
							  placeholder="Type your password"
							/>
							<span class="focus-input100" data-symbol="&#xf190;"></span>
						  </div>
			  
						  <div class="text-right p-t-8 p-b-31">
							<a href="c_email" class="txt2">
							  Sign Up (for companies)
							</a>
							<a href="c_email" class="txt2">
							  Sign Up (for workers)
							</a>
						  </div>
						  <div class="container-login100-form-btn">
							<div class="wrap-login100-form-btn">
							  <div class="login100-form-bgbtn"></div>
							  <button class="login100-form-btn">
								Login
							  </button>
							</div>
						   </div>
						  </div>
						</form>
					  </div>
					</div>
				  </div>

              </div>
            </div>
          </div>
        </div>
		<footer>
			<div id="footer">
			  <div class="container">
				<div class="row">
				  <div class="col-md-6 col-md-offset-3 text-center">
					<p class="fh5co-social-icons">
					  <i class="icon-twitter2"></i>
					  <i class="icon-facebook2"></i>
					  <i class="icon-instagram"></i>
					  <i class="icon-dribbble2"></i>
					  <i class="icon-youtube"></i>
					</p>
					<p>
					  2020 D&D Project.<br />
					  198 West 21th Street, Suite 721 New York NY 10016
					  <br />+ (82) 1234 5678 <br />contract@gmail.com
					</p>
				  </div>
				</div>
			  </div>
			</div>
		  </footer>
      </div>
      <!-- END fh5co-page -->
    </div>
    <!-- END fh5co-wrapper -->

    <%- include ("./script.ejs") %>
  </body>
</html>
