<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Master_menu</title>
  </head>
  <body>
    <h1>Master Page</h1>
    <ul>
      within the Contract
      <li><a href="w_contract_view">View contract</a></li>
      <li><a href="w_contract_write">Write contract</a></li>
    </ul>
    <ul>
      B2B Contract
      <li><a href="">View contract</a></li>
      <li><a href="">Write contract</a></li>
    </ul>
  </body>
</html>
