<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contract modify</title>
  </head>
  <body>
    <h1>CONTRACT</h1>
    <div style="display: flex;">
      <textarea rows="30px" cols="70px" style="resize: none;" readonly>
안녕하세요. 이 것은 근로 계약서 입니다.
회사 대표 : 문병선
근로자 : 김승빈
나이 : 19
월급 : 1억
근무 일자 : 2020.08.24 ~ 2020.09.24
비고 : 화이팅
    </textarea
      >
      <div style="display: flex;">
        <textarea
          rows="10px"
          cols="50px"
          placeholder="요청할 수정 내역을 작성해주세요."
          style="resize: none;"
        ></textarea>
      </div>
    </div>
    <br /><br />
    <input type="button" value="cancel" />
    <input type="button" value="confirm" />
  </body>
</html>
