<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
    <title>D&D Project Log in</title>
    <%- include ("./head.ejs") %>
  </head>
  <body>
    <div id="fh5co-wrapper">
        <div class="fh5co-section">
          <div class="container">
            <div class="row">
              <div class="col-md-6 fh5co-news">
				<div class="limiter">
					<div
					  class="container-login100">
            <table>
              <tr>
                <td><span class="login_font">SIGN UP</span></td>
              </tr>
              <tr>
                <td id="sign_title">for companies</td>
              </tr>
            </table>
					  <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
						<form class="login100-form validate-form" method="POST" action="">
              <div
							class="wrap-input100 validate-input m-b-23"
							data-validate="Username is reauired">
                <span class="label-input100">Business number</span>
                <input
                  class="input100"
                  type="text"
                  name="p_num"
                  placeholder="Type your ID"
                />
                <span class="focus-input100" data-symbol="&#xf206;"></span>
						  </div>
              <div
							class="wrap-input100 validate-input m-b-23"
							data-validate="Username is reauired">
                <span class="label-input100">ID</span>
                <input
                  class="input100"
                  type="text"
                  name="id"
                  placeholder="Type your ID"
                />
                <span class="focus-input100" data-symbol="&#xf206;"></span>
						  </div>
              <div
							class="wrap-input100 validate-input m-b-23"
							data-validate="Password is reauired">
                <span class="label-input100">Password</span>
                <input
                  class="input100"
                  type="text"
                  name="pass"
                  placeholder="Type your password"
                />
                <span class="focus-input100" data-symbol="&#xf206;"></span>
              </div>
              <div
							class="wrap-input100 validate-input m-b-23"
							data-validate="Password is reauired">
                <span class="label-input100">Confirm password</span>
                <input
                  class="input100"
                  type="text"
                  placeholder="Confirm your password"
                />
                <span class="focus-input100" data-symbol="&#xf206;"></span>
              </div>
              <div
							class="wrap-input100 validate-input m-b-23"
							data-validate="name is reauired">
                <span class="label-input100">Company name</span>
                <input
                  class="input100"
                  type="text"
                  name="p_name"
                  placeholder="Type your company name"
                />
                <span class="focus-input100" data-symbol="&#xf206;"></span>
              </div>
              <div
							class="wrap-input100 validate-input m-b-23"
							data-validate="name is reauired">
                <span class="label-input100">Company tel number</span>
                <input
                  class="input100"
                  type="text"
                  name="p_phone"
                  placeholder="Type your company tel num"
                />
                <span class="focus-input100" data-symbol="&#xf206;"></span>
              </div>
              <div
							class="wrap-input100 validate-input m-b-23"
							data-validate="Username is reauired">
                <span class="label-input100">Company zip code</span>
                <input
                  class="input100"
                  type="text"
                  name="p_addr"
                  placeholder="Type your zip code"
                />
                <span class="focus-input100" data-symbol="&#xf206;"></span>
						  </div>
              <div
							class="wrap-input100 validate-input m-b-23"
							data-validate="name is reauired">
                <span class="label-input100">Ceo name</span>
                <input
                  class="input100"
                  type="text"
                  name="ceo"
                  placeholder="Type your ceo name"
                />
                <span class="focus-input100" data-symbol="&#xf206;"></span>
              </div>
              <div
							class="wrap-input100 validate-input m-b-23"
							data-validate="Username is reauired">
                <span class="label-input100">Ceo contact number</span>
                <input
                  class="input100"
                  type="text"
                  name="ceo_phone"
                  placeholder="Type ceo contact number"
                />
                <span class="focus-input100" data-symbol="&#xf206;"></span>
              </div>
              <div  id="checkbox">
                <input type="checkbox"> <span id="checkbox_span">check if you agree <a href=""><u>this.</u></a></span></input>
              </div>
						  <div id="sign_up" class="container-login100-form-btn">
							<div class="wrap-login100-form-btn">
							  <div class="login100-form-bgbtn"></div>
							  <button class="login100-form-btn">
                SIGN UP
							  </button>
							</div>
						   </div>
						  </div>
						</form>
					  </div>
					</div>
				  </div>

              </div>
            </div>
          </div>
        </div>
		<footer>
			<div id="footer">
			  <div class="container">
				<div class="row">
				  <div class="col-md-6 col-md-offset-3 text-center">
					<p class="fh5co-social-icons">
					  <i class="icon-twitter2"></i>
					  <i class="icon-facebook2"></i>
					  <i class="icon-instagram"></i>
					  <i class="icon-dribbble2"></i>
					  <i class="icon-youtube"></i>
					</p>
					<p>
					  2020 D&D Project.<br />
					  198 West 21th Street, Suite 721 New York NY 10016
					  <br />+ (82) 1234 5678 <br />contract@gmail.com
					</p>
				  </div>
				</div>
			  </div>
			</div>
		  </footer>
      </div>
      <!-- END fh5co-page -->
    </div>

    <%- include ("./script.ejs") %>
  </body>
</html>
