<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>bootstrap template</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- font awesome -->
    <link rel="stylesheet" href="css/font-awesome.min.css" media="screen" title="no title" charset="utf-8">
    <!-- Custom style -->
    <link rel="stylesheet" href="css/style.css" media="screen" title="no title" charset="utf-8">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>


        <div class="col-md-12">
        <div class="page-header">
    	    <h1>sign <small>sign up</small></h1>
        </div>
        <form class="form-horizontal" method="post" action="/action2">
        <div class="form-group">
        <label class="col-sm-3 control-label" for="p_num">Business Number</label>
            <div class="col-sm-6">
            <input class="form-control" name="p_num" id="p_number" type="number" placeholder="Business Number">
        </div>
    </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="inputEmail">Email</label>
        <div class="col-sm-6">
          <input class="form-control" name="id" id="inputEmail" type="email" placeholder="Email">
        </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="inputPassword">Password</label>
        <div class="col-sm-6">
          <input class="form-control" name="pass" id="inputPassword" type="password" placeholder="password">
        <p class="help-block">number, 8 or more characters including special characters</p>
        </div>
        </div>
          <div class="form-group">
              <label class="col-sm-3 control-label" for="inputPasswordCheck">Confirm Password</label>
             <div class="col-sm-6">
              <input class="form-control" name="pass" id="inputPasswordCheck" type="password" placeholder="Confirm Password">
                <p class="help-block">Please check your password once more</p>
             </div>
          </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="p_name">Company</label>
          <div class="col-sm-6">
            <input class="form-control" name="p_name" id="inputName" type="text" placeholder="name">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="inputName">Company Number</label>
        <div class="col-sm-6">
          <input class="form-control" name="p_phone" id="inputnum" type="text" placeholder="company numbe">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="name">CEO name</label>
      <div class="col-sm-6">
        <input class="form-control" name="ceo" id="inputName" type="text" placeholder="name">
      </div>
    </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="inputName">Address</label>
      <div class="col-sm-6">
        <input class="form-control" name="p_addr" id="inputName" type="text" placeholder="address">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label" for="inputNumber">CEO phone number</label>
        <div class="col-sm-6">
          <div class="input-group">
            <input type="tel" class="form-control" name="ceo_phone" id="inputNumber" placeholder="- Please enter without" />
            <div class="col-sm-6" data-toggle="buttons">
              <label class="btn btn-warning active">
                <input id="agree" type="checkbox" autocomplete="off" chacked>
                  <span class="fa fa-check"></span>
              </label>
              <a href="#">Terms of Use</a> agree
            </div>
          </div>
        <div class="form-group">
          <div class="col-sm-12 text-center">
          
            <button class="btn btn-primary" type="submit">sign up<i class="fa fa-check spaceLeft"></i></button>
            <button class="btn btn-danger" type="submit">Cancel sign up<i class="fa fa-times spaceLeft"></i></button>
          </div>
        </div>
        </form>
          <hr>
        </div>
      </article>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>

