<header id="fh5co-header-section">
    <div class="container">
      <div class="nav-header">
        <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"
          ><i></i
        ></a>
        <!--로그인 값에 따라 회사 로고 이름 들어가게!-->
        <h1 id="fh5co-logo"><a href="home">D&D Project</a></h1>
        <!-- START #fh5co-menu-wrap -->
        <nav id="fh5co-menu-wrap" role="navigation">
          <ul class="sf-menu" id="fh5co-primary-menu">
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <a href="" class="fh5co-sub-ddown"
                >In company contract</a
              >
              <ul class="fh5co-sub-menu">
                <!--로그인이 안되었으면 눌렀을 때 로그인 창으로 가야됨.-->
                <li>
                  <a href="w_view_contract">View contract</a>
                </li>
                <li>
                  <a href="w_contract_write">Write contract</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="" class="fh5co-sub-ddown"
                >B2B contract</a
              >
              <ul class="fh5co-sub-menu">
                <li>
                  <a href="">View contract</a>
                </li>
                <li>
                  <a href="">Write contract</a>
                </li>
              </ul>
            </li>
            <li>
              <!--마이 페이지도 로그인 되면 떠야됨.-->
              <a href="">My page</a>
            </li>
            <!--로그인 됐으면 class active가 home으로 그리고 sign up이 log out으로 변해야 됨.-->
            <li class="active"><a href="login">Sign up</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>