<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>contract_page (master)</title>
  </head>
  <body>
    <h1>CONTRACT</h1>
    <textarea rows="30px" cols="100px" style="resize: none;" readonly>
안녕하세요. 이 것은 근로 계약서 입니다.
회사 대표 : 문병선
근로자 : 김승빈
나이 : 19
월급 : 1억
근무 일자 : 2020.08.24 ~ 2020.09.24
비고 : 화이팅
    </textarea>
    <br />
    <textarea rows="10px" cols="50px" style="resize: none;">
수정사항을 입력해주세요.</textarea
    >
    <br />
    <input placeholder="company" />
    <input
      type="button"
      id="button"
      value="please sign!"
      style="background-color: red;"
      onclick="setColor('button', 'yellow')"
      ;
    />

    <input placeholder="contractor" />
    <input
      type="button"
      id="sign"
      value="please sign!"
      style="background-color: red;"
      onclick="setColor('sign', '#101010')"
    />
    <br /><br />
    <input type="button" value="modify" />
    <input type="button" value="confirm" onclick="func_confirm()" />
    <script>
      var count = 1;
      function setColor(btn, color) {
        var property = document.getElementById(btn);
        var c_change = document.getElementById(btn);
        if (count == 0) {
          property.style.backgroundColor = "yellow";
          count = 1;
          property.value = "signed";
        } else {
          property.style.backgroundColor = "red";
          count = 0;
          property.value = "please sign!";
        }
      }
      function func_confirm() {
        if (
          confirm(
            "Please check it again. If you put it in a block, it cannot be modified."
          )
        ) {
          alert("Has been saved.");
        } else {
          alert("NO");
        }
      }
    </script>
  </body>
</html>
