<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>write contract(master)</title>
</head>
<body>
    <input type="text" placeholder="name">
    <input type="text" placeholder="age">
    <br><br>
    <input type="text" placeholder="gender">
    <input type="text" placeholder="term">
    <br><br>
    <input type="text" placeholder="contents">
    <input type="text" placeholder="salary">
    <br><br>
    <button>confirm</button>
</body>
</html>