<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>contract view(master)</title>
  </head>
  <body>
    <% if(linkcode == 1) { %>
    <table style="text-align: center;" border="1px" solid>
      <thead>
        <tr>
          <td>no.</td>
          <td>contract</td>
          <td>contractor</td>
          <td>Progress</td>
          <td>request modify</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td><a href="view_contract">Labor contract</a></td>
          <td>samsung</td>
          <td>complete</td>
          <td>null</td>
        </tr>
        <tr>
          <td>2</td>
          <td><a href="view_contract">Labor contract</a></td>
          <td>apple</td>
          <td>complete</td>
          <td>null</td>
        </tr>
        <tr>
          <td>3</td>
          <td><a href="view_contract">Labor contract</a></td>
          <td>airbnb</td>
          <td>complete</td>
          <td>null</td>
        </tr>
        <tr>
          <td>4</td>
          <td><a href="view_contract">Labor contract</a></td>
          <td>MS</td>
          <td>complete</td>
          <td>null</td>
        </tr>
        <tr>
          <td>5</td>
          <td><a href="view_contract">Labor contract</a></td>
          <td>sktellcom</td>
          <td>request modify</td>
          <td>request</td>
        </tr>
      </tbody>
    </table>
    <% } else { %>
    <table border="1px" style="text-align: center;" solid>
      <thead>
        <tr>
          <td>no.</td>
          <td>contract</td>
          <td>contractor</td>
          <td>Progress</td>
          <td>request modify</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td><a href="view_contract">Labor contract</a></td>
          <td>Moon</td>
          <td>complete</td>
          <td>null</td>
        </tr>
        <tr>
          <td>2</td>
          <td><a href="view_contract">Labor contract</a></td>
          <td>Lee</td>
          <td>complete</td>
          <td>null</td>
        </tr>
        <tr>
          <td>3</td>
          <td><a href="view_contract">Labor contract</a></td>
          <td>Choi</td>
          <td>complete</td>
          <td>null</td>
        </tr>
        <tr>
          <td>4</td>
          <td><a href="view_contract">Labor contract</a></td>
          <td>Kim</td>
          <td>complete</td>
          <td>null</td>
        </tr>
        <tr>
          <td>5</td>
          <td><a href="view_contract">Labor contract</a></td>
          <td>Jung</td>
          <td>request modify</td>
          <td>request</td>
        </tr>
      </tbody>
    </table>
    <% } %>
  </body>
</html>
