<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>contract view(master)</title>

    <script>
      function view_contract() {
        //location.href("/company/view_contract");
        window.open("/company/view_contract", "_self");
        //alert("test");
      }
    </script>
  </head>
  <body>
    <table style="text-align: center;" border="1px" solid>
      <thead>
        <tr>
          <td>no.</td>
          <td>contract</td>
          <td>contractor</td>
          <td>Progress</td>
          <td>request modify</td>
        </tr>
      </thead>
      <tbody>
        <tr onclick="view_contract()">
          <td>1</td>
          <td>Labor contract</td>
          <td>samsung</td>
          <td>complete</td>
          <td>null</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Labor contract</td>
          <td>apple</td>
          <td>complete</td>
          <td>null</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Labor contract</td>
          <td>airbnb</td>
          <td>complete</td>
          <td>null</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Labor contract</td>
          <td>MS</td>
          <td>complete</td>
          <td>null</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Labor contract</td>
          <td>sktellcom</td>
          <td>request modify</td>
          <td>request</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
