<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <%- include ("./head.ejs") %>
    <title>D&D Project home</title>
  </head>
  <body>
    <div id="fh5co-wrapper">
      <div id="fh5co-page">
        <div id="fh5co-header">
          <%- include ("./header.ejs") %>
        </div>
        <div id="fh5co-contact" class="fh5co-section animate-box">
          <div class="container">
            <form action="#">
              <div class="row">
                <div class="col-md-6">
                  <h1 class="section-title">Write contract</h1>
                    <form>
                       <textarea rows="30" cols="140" style="text-align: center;">Labor contract
                       </textarea>
                       <div id="w_contract_div">
                          <a href="modify"><input type="button" id="w_contract" class="btn btn-primary" value="modify"></a>
                          <input type="button" id="w_contract" class="btn btn-primary" value="confirm">
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <footer>
          <div id="footer">
            <div class="container">
              <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                  <p class="fh5co-social-icons">
                    <i class="icon-twitter2"></i>
                    <i class="icon-facebook2"></i>
                    <i class="icon-instagram"></i>
                    <i class="icon-dribbble2"></i>
                    <i class="icon-youtube"></i>
                  </p>
                  <p>
                    2020 D&D Project.<br />
                    198 West 21th Street, Suite 721 New York NY 10016
                    <br />+ (82) 1234 5678 <br />contract@gmail.com
                  </p>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
      <!-- END fh5co-page -->
    </div>
    <!-- END fh5co-wrapper -->

    <%- include ("./script.ejs") %>
  </body>
</html>
