/*

bootstrap template - login-form Template
Version: 1.0
By: dave-cheon

*/
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
* { font-family: 'Nanum Gothic', sans-serif; }

.spaceLeft {
  margin-left: 10px;
}
.spaceRight {
  margin-right: 10px;
}

/* custom checkbox */
.btn span.fa {
	opacity: 0;
}
.btn.active span.fa {
	opacity: 1;
}

.login-box {
    line-height: 2.3em;
    font-size: 1em;
    color: #aaa;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.input-group {
    margin-top: 1em;
    margin-bottom: 1em;
}
